*

!.gitignore
!.agents
!.agents/**
!assets
!assets/**
!bin
!bin/**
!docs
!docs/**
!config
!config/**
!extended
!extended/**
!skills
!skills/**
!templates
!templates/**
!AGENTS.global.md
!AGENTS.md
!README.md
!LICENSE.md
!package.json
